/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #F1F1F1;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

/* Bootstrap table design */
table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #006DCC;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

/* Sections / row panels */
.section-heading {
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    color: #FFEAD6 !important;
}

.section-body {
    background-color: #F5F5F5 !important;
}

/* Navbars shadows */
.navbar-collapse {
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75) !important;
}

.side-nav {
    -webkit-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
}

/* Right top navbar */
.navbar-right {
    margin-top: 10px !important;
    margin-right: 1px !important;
}

/* Alerts / Events */
.alert-container {
    margin-left: 10px;
    margin-right: 5px;
}

.dropdown-menu {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
}

/* mapKey modal widget */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 5px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.3s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 5px;
}
