<!DOCTYPE html>
<html lang="en" ng-app="manager">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Docker Manager</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/images/docker.png') }}">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='assets/css/main.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static',filename='assets/css/plugins/morris.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- PopOver Plugin CSS -->
    <link href="{{ url_for('static',filename='assets/css/plugins/jquery.webui-popover.css') }}" rel="stylesheet">
    <!-- UI Grid Plugin CSS -->
    <link href="{{ url_for('static',filename='assets/css/plugins/ui-grid.min.css') }}" rel="stylesheet">
    <!-- SweetAlert CSS -->
    <link href="{{ url_for('static',filename='assets/css/plugins/sweetalert.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navbarCtrl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><span ng-bind="appname"></span></a>
            </div>
            <!-- Top Menu Items -->
            <div ng-include="templatetop"></div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div ng-include="templateside"></div>
        </nav>

        <ng-view></ng-view>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='assets/js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static',filename='assets/js/plugins/morris/raphael.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/plugins/morris/morris.min.js') }}"></script>
    <!-- PopOver JavaScript plugin -->
    <script src="{{ url_for('static',filename='assets/js/plugins/webui-popover/jquery.webui-popover.js') }}"></script>
    <!-- AngularJS related JavaScript -->
    <script src="{{ url_for('static',filename='assets/js/angularjs/1.3.15/angular.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/angularjs/1.3.15/angular-resource.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/angularjs/1.3.15/angular-route.min.js') }}"></script>
    <!--<script src="{{ url_for('static',filename='assets/js/angularjs/1.3.15/angular-sanitize.min.js') }}"></script>-->
    <!-- ui-bootstrap Angular plugin -->
    <script src="{{ url_for('static',filename='assets/js/plugins/ui-bootstrap/0.13.3/ui-bootstrap-tpls-0.13.3.min.js') }}"></script>
    <!-- UI-Grid Angular plugin -->
    <script src="{{ url_for('static',filename='assets/js/plugins/ui-grid/ui-grid.min.js') }}"></script>
    <!-- SweetAlert JavaScript plugin (Alert messages) -->
    <script src="{{ url_for('static',filename='assets/js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <!-- Bootstrap Waitingfor plugin (loading indicator) -->
    <script src="{{ url_for('static',filename='assets/js/plugins/bootstrap-waitingfor/bootstrap-waitingfor.min.js') }}"></script>
    <!-- Angular Formly (Forms) -->
    <script src="{{ url_for('static',filename='assets/js/plugins/angular-formly/api-check.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/plugins/angular-formly/formly.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/plugins/angular-formly/angular-formly-templates-bootstrap.min.js') }}"></script>


    <script src="{{ url_for('static',filename='application/app.js') }}"></script>
    <script src="{{ url_for('static',filename='application/shared/api_services.js') }}"></script>
    <script src="{{ url_for('static',filename='application/shared/ui_services.js') }}"></script>
    <script src="{{ url_for('static',filename='application/shared/filters.js') }}"></script>
    <script src="{{ url_for('static',filename='application/navbar/navbarCtrl.js') }}"></script>
    <script src="{{ url_for('static',filename='application/dashboard/dashboardCtrl.js') }}"></script>
    <script src="{{ url_for('static',filename='application/images/imagesCtrl.js') }}"></script>
</body>

</html>
